n8n/PDB_Agent.json
{
  "name": "PDB Agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "1a8a6224-24d2-46a4-8092-b65e02468188",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a molecular biology expert. Your job is to analyze the following {{ $json.query }}, extract and correct the molecule or protein name on searchName variable, and return the best search term for PDB or PubChem database searching.\n\n**Instructions:**\n- Fix any spelling errors in molecule or protein names (e.g., \"caffiene\" → \"caffeine\").\n- Standardize names to common forms (e.g., \"acetylsalicylic acid\" → \"aspirin\").\n- Extract the actual molecule or protein name from conversational or ambiguous text.\n- If the query is about a protein, use the `pdbSearchTool` to search for the protein structure by name.\n- If the query is about a small molecule, return the best search term for PubChem.\n- Get first identifier in id\n- Return a structured response JSON as output:\n\n\n**Example**\n{\n  \"responseText\": \"Found hemoglobin protein structure! This protein is now loaded in the 3D viewer.\",\n  \"proteinName\": \"hemoglobin\",\n  \"proteinDataPDB\": \"<PDB DATA HERE>\",\n  \"pdbUrl\": \"https://www.rcsb.org/structure/1HHO\",\n  \"pdbId\": \"1HHO\"\n}\n\n**Rules:**\n- Only call the correct tool(s) as needed.\n- Do not return explanations or extra text—just the tool call(s) with the corrected/standardized name.\n\n**User Query:**\n{{ $json.query }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "1b346ae4-85e5-4ea0-b354-3f93e61bf8f1",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://search.rcsb.org/rcsbsearch/v2/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": {\n    \"type\": \"terminal\",\n    \"service\": \"full_text\",\n    \"parameters\": {\n      \"value\": \"{{ $json.query }}\"\n    }\n  },\n  \"return_type\": \"entry\",\n   \"request_options\": {\n        \"paginate\": {\n          \"start\": 0,\n          \"rows\": 5\n        }\n      }\n}",
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        320,
        340
      ],
      "id": "9483c865-5344-4215-82d1-b9dc0553dc79",
      "name": "PDB Search Tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        700
      ],
      "id": "841aabcc-cab4-42ca-ae73-23076cc9ce46",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zQKphmcQgXIuv9Rt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "output",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "687b2467-1633-4aa9-b333-899dd5f1b147",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1053ffab-fed7-4a07-a34b-e1a9c8d5f29d",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0cd307c7-406d-4e3d-918f-aef07b8436f3",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        -100
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"responseText\": \"Found hemoglobin protein structure! This protein is now loaded in the 3D viewer.\",\n  \"proteinName\": \"hemoglobin\",\n  \"proteinDataPDB\": \"<PDB DATA HERE>\",\n  \"pdbUrl\": \"https://www.rcsb.org/structure/1HHO\",\n  \"pdbId\": \"1HHO\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        500,
        560
      ],
      "id": "51d3611b-ba1e-442a-94f7-741e38991c5c",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PDB Search Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "89c788e7-166a-47b5-a8ea-99a5023dff95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9429cdf59a5e5ec05a4b2131987b9376af4f1dbc9e7f8a8e7599716b950c2b0e"
  },
  "id": "oVcbzEYNe2kdPOyB",
  "tags": []
}